<div class="login-container">
  <div class="overlay"></div>

  <div class="login-card">
    <div class="login-header">
      <div class="logo-container">
        <i class="pi pi-key text-3xl"></i>
      </div>
      <h2>Recuperar Contraseña</h2>
      <p>Ingresa tu correo para recibir instrucciones</p>
    </div>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <label for="email">Correo Electrónico</label>
        <input pInputText id="email" type="email" formControlName="email" placeholder="usuario@email.com" class="w-full" />
        <small *ngIf="email?.invalid && email?.touched" class="p-error">
          @if (email?.errors?.['required']) {
          El email es requerido
          }
          @if (email?.errors?.['email']) {
          Formato de email inválido
          }
        </small>
      </div>

      <p-button type="submit" label="Enviar Enlace" [loading]="isLoading" [disabled]="forgotForm.invalid || isLoading"
        class="w-full">
      </p-button>

      <div class="text-center mt-4">
        <a routerLink="/login" class="forgot-link">Volver al Login</a>
      </div>
    </form>
  </div>

  <p-toast position="top-right"></p-toast>
</div>
